@import "../../style/functions";

.dialog__wrap {
  .dialog__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    transform: translateY(-50%) translateX(-50%);
  }
  .window__icon {
    width: px2rem(60);
    display: block;
  }

  .dialog__text {
    color: #999;
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate__animation {
  animation: rotate-animation 1000ms infinite linear;
}


.window__modal-enter-active {
  animation: window__modal-dialog-fadein .3s;
  .window__modal-zoom {
    animation: window__modal-dialog-zoom .3s;
  }
}

@keyframes window__modal-dialog-fadein {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes window__modal-dialog-zoom {
  0% {
    transform: scale(0)
  }
  50% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}